/* RESET CSS */
:link, :visited {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
}

a img, :link img, :visited img {
    border: none;
}

address {
    font-style: normal;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* GENERAL RULES */
:root {
    --bg1: #BBBDF6;
    --fg1: #1C1C1C;
}

body {
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

h1 {
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 25% 5% 25%;
    box-sizing: border-box;
}

/* NAVIGATION BAR */
a {
    color:inherit;
    text-decoration: none;
}

#navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    /* make sideways navigation across all browsers */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    box-sizing: border-box;
}
#navigation a {
    margin-bottom: 1em;
}
#navigation a h1:after {
    content: "_";
}

/* MAIN CONTENT */
#main {
    margin-left: 4em;
}
#main h2 {
    margin-top: 1em;
}

#main h3 {
    margin-top: 0.5em;
}

/* TEXT ANIMATION */
#typing-text {
    font-size: 4em;
    height: 1em;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    outline: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg1);
    margin-bottom: 0.5em;
    cursor: default;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
    #main {
        margin-left: 4em;
    }

    #typing-text {
        font-size: 3em;
    }

    #content {
        margin: 5% 15% 5% 15%;
    }
}


@media only screen and (max-width: 777px) {
    h1 {
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
    }
    h2 {
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
    }
    h3 {
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }

    #main {
        margin-left: 3em;
    }

    #typing-text {
        font-size: 2em;
    }

    #content {
        margin: 2em 1em 1em 1em;
    }
}
